@value variables: "../../styles/variables.css";
@value blue from variables;

.Button {
  background: blue;
  color: white;
  border: 0;
  font-size: 1em;
  padding: 0.6em 1em;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
}

.Button[data-style='ghost'] {
  background: transparent;
  border: 2px solid blue;
  color: blue;
}
