
.Hero {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: -300px;
    padding-top: 300px;
    z-index: -1;

    background-color: black;
    background-image: url('../../assets/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    text-align: center;
    border-bottom: 1px solid transparent;
    margin-bottom: 40px;
}

.Hero__Logo {
    font-size: 2em;
    margin: 3em auto 5em;
    @media (max-width: 980px) {
        font-size: 5vw;
    }
}
