.util-text-align-center {
  text-align: center;
}

.util-float-right {
  float: right;
}

.util-no-margin {
  margin: 0;
}

.util-text-decoration-none {
  text-decoration: none;
}

.reset-list {
  list-style-type: none;
  margin-left: 0;
}

.list--inline > li {
  display: inline-block;
}

.type--bold {
  font-weight: 700;
}

.a11yHidden {
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}
