@value variables: "../../styles/variables.css";
@value red, blue, font-family-title from variables;

.logo {
    font-family: "OldPress", sans-serif;
    font-weight: normal;
    color: white;
    max-width: 38ch;
    line-height: 1;
    display: block;
    margin: auto;
}

.logo__top {
    display: block;
    text-align: left;
    margin-bottom: -0.2em;
    color: blue;
}

.logo__main {
    color: red;
    font-size: 3em;
    display: block;
}

.logo__bottom {
    background-color: blue;
    display: inline;
    float: right;
    padding: 0.1em 0.2em;
    margin-top: -0.25em;
    z-index: 2;
    position: relative;
}
