@value variables: "../../styles/variables.css";
@value red, font-family-title from variables;

.Heading {
  line-height: 1;
  position: relative;
  display: inline-block;
  color: #353535;
  z-index: 0;

  &:after {
    content: '';
    position: absolute;
    display: block;
    height: 10px;
    background: red;
    width: 100%;
    left: -4px;
    bottom: 4px;
    z-index: -1;
    opacity: 0.5;
  }
}
