
.page-header {
    display: flex;
    align-items: center;

    &,
    * + * {
        margin-top: 0;
    }

    .page-nav {
        flex: 1;
        text-align: right;
        @media (max-width: 980px) {
            text-align: center;
        }
    }
}
