.Gallery {
  composes: reset-list from '../../styles/utility.css';
}

/*
    Grid
*/

.GalleryGrid {
  composes: Gallery;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.GalleryGrid__item {
  grid-column-end: span 2;
  grid-row-end: span 2;
  position: relative;
  min-height: 300px;
}

.GalleryGrid__itemSmall {
  composes: GalleryGrid__item;
  grid-column: 1;
  grid-column-start: auto;
}

.GridImageWrapper {
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.Gallery__item__image {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/*
    Carousel
*/

.GalleryCarousel {
  composes: reset-list from '../../styles/utility.css' list--inline from '../../styles/utility.css';
  overflow: auto;
  display: flex;
  margin-bottom: 20px;
}

.GalleryCarousel__item {
  width: 20%;
  min-width: 200px;
  vertical-align: top;
  height: 200px;
  flex-shrink: 0;
  position: relative;
}
