
.Driver {
    padding: 20px 0;
    background-image: url('../../assets/driver.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.DriverLink {
    display: block;
}
