@value variables: "../../styles/variables.css";
@value blue from variables;

.Table {
    border-spacing: 2em 0;
}

.TableHead {
    composes: a11yHidden from "../../styles/utility.css";
}

.TableCell {
    padding-bottom: 20px;
}
