
@import '../styles/variables';

@font-face {
  font-family: 'OldPress';
  src:  url('../fonts/old-press.woff2') format('woff2'),
        url('../fonts/old-press.woff') format('woff');
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

html {
    font-size: 1.1em;
}

body {
    padding: 20px;
    max-width: 1500px;
    margin: 0 auto;

    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}

* + * {
	margin-top: 1.5em;
}


//
// Helpers
%a11y-hidden,
.a11y-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.a11y-hidden-reset {
    position: static;
    width: auto;
    height: auto;
}

//
// Util

.util-text-align-center {
    text-align: center
}

.util-column-2 {
    column-count: 2;
}

.util-reset-margin * {
    margin-top: 0;
}

.util-float-right {
    float: right;
}

.util-no-margin {
    margin: 0;
}

.util-text-decoration-none {
    text-decoration: none;
}

//
// Resets

.reset-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}


//
// Libraries

// Lightbox
// @import "node_modules/baguettebox.js/src/baguetteBox.scss";

// Slick
$slick-arrow-color: transparent;
$slick-dot-color: $blue;
$slick-dot-size: 30px;
// @import "node_modules/slick-carousel/slick/slick.scss";
// @import "node_modules/slick-carousel/slick/slick-theme.scss";

.slick-slider {
    .slick-arrow {
        background-repeat: no-repeat;
        background-size: contain;
        height: 35px;
        width: 35px;
    }
    .slick-next {
        background-image: url('../icons/arrow-right.svg');
    }
    .slick-prev {
        background-image: url('../icons/arrow-left.svg');
    }
}



//
// Our Styles
// -----------------------------

// Links
a {
    color: $blue;
    font-weight: bold;
}

p {
    text-indent: 1.5em;
}

.type--bold {
    font-weight: 700;
}

//
// Layout side col
.layout-side-col {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 40px;

    @media screen and (max-width: 850px ) {
        display: block;
    }
}

// Page Heading
.heading-bar {
    background-color: $blue;
    color: white;
    font-family: $font-family-title;
    font-weight: normal;
    text-align: center;
}

//
// Page Navigation
.page-nav {
    font-family: $font-family-title;
    font-size: 2em;
    text-transform: uppercase;
    color: $blue;

    a {
        text-decoration: none;
    }

    li {
        margin-right: .5em;
        &:last-child {
            margin-right: 0;
        }
    }
}


//
// Inputs

.label {
    display: block;
}

.text-input {
    width: 100%;
    font-size: 1em;
    padding: .8em;
    border: 3px solid $blue;
    margin-top: 0;
}

.button {
    background: $blue;
    color: white;
    border: 0;
    font-size: 1em;
    padding: .6em 1em;
    text-decoration: none;
    display: inline-block;
}

.button--ghost {
    background: transparent;
    border: 2px solid $blue;
    color: $blue;
}


//
// Lists

.list--inline {
    > li {
        display: inline-block;
        margin-top: 0;
    }
}

//
// Gig

.gig {
    display: grid;
    grid-template-columns: 1fr 3fr auto;

    * {
        margin: 0;
    }
}

.gig__date {
    display: inline-block;
    span {
        display: block;
        font-weight: bold;
        margin-top: 0;

        &:first-child {
            font-size: 13px;
            font-weight: normal;
        }

    }
}

.gig__location {

}


//
// Skip Link

a[href="#page-main"] {

    @extend .a11y-hidden;

    &:focus {
        @extend .a11y-hidden-reset;
    }
}


//
// Carousel
.carousel {
    img {
        max-height: 350px;
    }
}


//
// Driver
.driver {
    padding: 20px 0;
    background-image: url('../assets/driver.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

//
// Video
.video {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

//
// Media

.media {
    display: flex;

    img {
        width: 30%;
        height: 100%;
        margin-right: 2em;
    }
}


//
// Gallery

.baguette-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;

    a {
        display: block;
        height: 100%;
    }
    * + * {
        margin-top: 0;
    }

    li {
        position: relative;
    }

    img {
        display: block;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    li:nth-child(4n) {
        grid-column-end: span 2;
        grid-row-end: span 2;
    }

    li:nth-child(13),
    li:nth-child(17) {
        grid-column-end: span 1;
        grid-row-end: span 2;
    }

    li:nth-child(28) {
        grid-column-end: span 3;
        grid-row-end: span 2;
    }

    li:nth-child(44) {
        grid-column-end: span 3;
    }

}


//
// PAGES
// ---------------------------

// home
.page-Home {
    .page-nav {
        color: white;
        a {
            color: inherit;
        }
    }

    .page-grid {
        @media screen and (min-width: 850px ) {

            > section {
                display: inline-block;
                vertical-align: top;
                padding-right: 4em;
                width: calc(100% - 400px);
            }
            > aside {
                display: inline-block;
                vertical-align: top;
                width: 400px;
            }

        }

    }
}
